.header {
  background-color: grey;
  padding-top: 32px;
  padding-bottom: 32px;
  &__link,
  &__contact {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-color);
    &:hover {
      color: #ff6c00;
    }
    &:focus {
      color: #ff6c00;
    }
  }
  &__btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--header-color);
    border: 1px solid #ff6c00;
    border-radius: 25px;
    background-color: transparent;
    &:hover {
      background: var(--focus-color);
      border: 1px solid #ff6c00;
      border-radius: 25px;
    }
  }
}
