.masters {
  padding-top: 130px;
  padding-bottom: 130px;
}
.masters__top--text {
  margin-bottom: 20px;
  color: #303030;
}

.masters__title {
  margin-bottom: 44px;
  color: #303030;
}

.masters__list {
}

.masters__item {
}
.masters__item-title {
  font-family: "Open Sans";

  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);

  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #303030;
}
.masters__item-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

.masters__img {
  margin-bottom: 30px;
}
