.reasons {
}
.reasons__list {
}

.reasons__item {
}
.reasons__item-count {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  //   text-align: center;
  letter-spacing: 0.05em;

  color: #303030;
}
.reasons__item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  //   text-align: center;

  color: #303030;
}
.reasons__top-text {
  color: #303030;
}
.reasons__title {
  color: #303030;
}
.reasons__bottom-text {
  font-size: 18px;
  line-height: calc(30 / 18);

  letter-spacing: 0.02em;

  color: #555555;
}
